<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/header :: header}"></head>
<body>
<div class="container">
    <h4>Project job4j_dreamjob</h4>
    <ul>
        <li><a th:href="@{/vacancies}">Вакансии</a></li>
        <li><a th:href="@{/candidates}">Кандидаты</a></li>
        <li><a th:href="@{/vacancies/create}">Создать вакансию</a></li>
        <li><a th:href="@{/candidates/create}">Создать резюме</a></li>
    </ul>
</div>
<footer th:insert="~{fragments/footer :: footer}"></footer>
</body>
</html>